<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @technician.name %>
</p>
<p>
  <b>Project type:</b>
  <%= @technician.project_type.to_s %>
</p>

<p>
  <b>Skill level:</b>
  <%= @technician.skill_level.to_s %>
</p>

<p>
  <b>Supervisor level:</b>
  <%= @technician.supervisor_level.to_s %>
</p>

<p>
  <b>Compatability notes:</b>
  <%= @technician.compatability_notes %>
</p>

<p>
  <b>Travel notes:</b>
  <%= @technician.travel_notes %>
</p>

<p>
  <b>Work capability notes:</b>
  <%= @technician.work_capability_notes %>
</p>


<%= link_to 'Edit', edit_technician_path(@technician) %> |
<%= link_to 'Back', technicians_path %>
