<div class="zone-line-item ui-widget-content ui-corner-all" id="zone_<%= zone.id.to_s %>_container">
  <div id="zone_<%= zone.id.to_s %>">
    <% if @new %>
      <%= render '/zones/line_item_form', :zone=>zone %>
    <% else %>
      <%= render '/zones/readonly_line_item', :zone=>zone %>
    <% end %>
  </div>
  <div class='assignedTechnicians'>
    <% for tech in zone.technicians %>
      <!--<div class="ui-widget-content ui-corner-all">-->
        <span class="left" id="zone_<%= zone.id.to_s %>_tech_<%= tech.id.to_s %>">
          <span class="left"><%= tech.abb %></span>
          <span style="cursor:pointer;margin-top:2px;" class="ui-icon ui-icon-circle-close left"></span>
        </span>
      <!--</div>-->
    <% end %>
  </div>
  <div style='clear:both'></div>
</div>