<div class="ui-widget-content ui-corner-all form">
  <div class="ui-widget-header ui-corner-all">
    <h1>Listing Zones</h1>
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Responsibility type</th>
      <th>Service type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Level</th>
      <th></th>
      <th></th>
    </tr>

    <% @zones.each do |zone| %>
      <tr>
        <td><%= zone.name %></td>
        <td><%= zone.responsibility_type_id %></td>
        <td><%= zone.service_type_id %></td>
        <td><%= zone.start_date %></td>
        <td><%= zone.end_date %></td>
        <td><%= zone.level %></td>
        <td><%= link_to 'Show', zone %></td>
        <td><%= link_to 'Edit', edit_zone_path(zone) %></td>
      </tr>
    <% end %>
  </table>
</div>

<br/>

<%= link_to 'New Zone', new_zone_path %>
