<div class="ui-widget-content ui-corner-all form">
  <div class="ui-widget-header ui-corner-all">
    <h1>Listing Travel Restrictions</h1>
  </div>

<table>
  <tr>
    <th>Number</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @travel_restrictions.each do |travel_restriction| %>
  <tr>
    <td><%= travel_restriction.number %></td>
    <td><%= travel_restriction.description %></td>
    <td><%= link_to 'Show', travel_restriction %></td>
    <td><%= link_to 'Edit', edit_travel_restriction_path(travel_restriction) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Travel restriction', new_travel_restriction_path %>
</div>