<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field left" style='margin-right:10px'>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field left">
    <%= f.label :project_type_id %><br/>
    <%= f.select(:project_type_id, ProjectType.all.collect{|p| [p.description, p.id]})%>
  </div>
  <div style='clear:both'></div>
  <div class="field left" style='margin-right:10px;'>
    <%= f.label :project_color_id %><br/>
    <%= f.select(:project_color_id, ProjectColor.all.collect{|p| [p.name, [p.id,p.background,p.text].join(':')]},
                 {},
                 {:onchange=>"updateColorExample(this)"}) %>
  </div>
  <div class="field left">
    <br/>
    <div id="projectColorExample" style="<%= "background:#{@project.background_color};color:#{@project.text_color}" %>;padding:5px">
      <strong>Example</strong>
    </div>
  </div>
  <div style='clear:both'></div>
  <div class="field">
    <%= f.label :start_date, "Start" %>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date, "End" %>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">Save</button>
  </div>
<% end %>
