<div class="ui-widget-content ui-corner-all form">
  <div class="ui-widget-header ui-corner-all">
    Editing Project
  </div>
  <br/>
  <table>
    <tr>
      <td width="30%">
        <%= render 'form' %>

      </td>
      <td width="35%">
        <div id="droppable-project" project_id="<%= @project.id.to_s %>" class="technician-container ui-widget-content ui-corner-all">
          <div class="ui-widget-header ui-corner-all">
            Added Technicians
          </div>
          <div id='added-technicians'>
            <%= render 'technicians', :technicians=>@project.technicians %>
          </div>
        </div>
      </td>
      <td width="35%">
        <div id="droppable-technician-container" project_id="<%= @project.id.to_s %>" class="technician-container ui-widget-content ui-corner-all">
          <div class="ui-widget-header ui-corner-all">
            Available Technicians
          </div>
          <div id="available-technicians">
            <%= render 'technicians', :technicians=>@available_technicians %>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %>
</div>

