<div class="ui-widget-content ui-corner-all form">
  <div class="ui-widget-header ui-corner-all">
    <h1>Listing Projects</h1>
  </div>
<table>
  <tr>
    <th>Name</th>
    <th>Project type</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.project_type.to_s %></td>
    <td><%= f_date project.start_date %></td>
    <td><%= f_date project.end_date %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
  </tr>
<% end %>
</table>
</div>


<br />

<%= link_to 'New Project', new_project_path %>
