<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Project type:</b>
  <%= @project.project_type.to_s %>
</p>

<p>
  <b>Start date:</b>
  <%= f_date @project.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= f_date @project.end_date %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
