<%= form_for(@project_scope) do |f| %>
  <% if @project_scope.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_scope.errors.count, "error") %> prohibited this project_scope from being saved:</h2>

      <ul>
      <% @project_scope.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
