<!DOCTYPE html>
<html>
<head>
  <title>ProjectManager</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application', 'jquery-1.4.4.min', 'jquery-ui-1.8.7.custom.min', 'jquery.class', 'fullcalendar', 'gcal', 'rails', 'test_canvas' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">

  <%= link_to "Home", "/", :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  %>
  <%= link_to "Projects", projects_path, :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  %>
  <%= link_to "Technicians", technicians_path, :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" %>
  <%= link_to "Picklists", "/home/picklists", :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" %>
  <%= link_to "Project Types", project_types_path, :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  %>
</ul>
</div>
<div id="content">

  <%= yield %>
</div>
<div id="footer">

</div>


</body>
</html>
