<!DOCTYPE html>
<html>
<head>
  <title>ProjectManager</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'application', 'jquery', 'jquery-ui-1.8.6.custom.min', 'fullcalendar', 'gcal', 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= link_to "Home", "/" %>
<%= yield %>

</body>
</html>
